* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FAF0E6
}

html {
  font-size: 62.5%;
}

body {
  color: #333333;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.6rem;
}

.container {
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* Header */

.header {
  background: #43799c;
  padding: 1.6rem 0;
}

.header__title {
  font-size: 3.2rem;
  margin-bottom: .4rem;
}

.header__subtitle {
  font-size: 1.6rem;
  font-weight: 300;
}

.actions {
  background-color: #F7F7F7;
  border-bottom: 1px solid #dedfe0;
  padding: .8rem
}

.input {
  border: none;
  font-size: 1.4rem;
  font-weight: 300;
  height: 3rem;
  margin-right: 1.6rem;
  padding: .4rem .8rem;
  background-color: white;
  margin-bottom: 2rem
}

.list-item {
  text-decoration: none;
  color: #353239;
  cursor: pointer;
  background: fafafa;
  border: 1px solid #423e47;
  margin: 1.6rem 0;
  padding: 1rem 1.6rem;
  display: block;
}

.select-a-player {
  margin-bottom: 1rem;
  color: #2B292E;
  font-style: italic
}